.hamburger {
  display: grid;
  justify-items: start;
  row-gap: 5px;
  grid-template-columns: 7vw;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:hover div {
  background-color: white;
}

.hamburger-line {
  background-color: #f4c430;
  width: 3vw;
  border-radius: 3px;
  height: 1vw;
  transition: 0.75s ease;
}

.hamburger-line-long {
  width: 7vw;
}

.hamburger-line-medium {
  width: 5vw;
}

.hamburger-line-small {
  width: 3vw;
}
