.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #272729;
  color: #f4c430;
  z-index: 10;
}

@media (max-width: 600px) {
  .footer {
    bottom: 0px;
  }
}
